/* style de la page blogHtml */
html,
body {
    min-width: 290px;
    color: #4D4E53;
    background-color: #ffffff;
    font-family: 'open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#contenu {
    width: calc(100%-300px);
    margin-left: 300px;
}

#sidebar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#title {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: thin;
}

#sidebar ul {
    height: 88%;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar ul li {
    color: #4D4E53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#sidebar ul li a {
    display: block;
    padding: 10px 30px;
    color: #4D4E53;
    text-decoration: none;
    cursor: pointer;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.forme {
    text-align: justify;
    margin-left: 20px;
    background: #eee;
    padding-bottom: 20px;
    border-radius: 15px;
}

.cod {
    background: #ffffff;
    margin-left: 20px;
    padding: 0 30px;
    margin-right: 20px;
    border-radius:15px;
    
    
}
#remarque{
    background-color: khaki;
    padding: 10px 15px;
    margin-top: 10px;
}
.liste {
    text-align: justify;
    margin-left: 20px;
}

/* #sidebar ul  li a:hover{

} */